/* _content/HybridBlazor.Shared/Component1.razor.rz.scp.css */
.my-component[b-9lu6b064ie] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
